EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=6a897da6001fa7b5329d
EXPO_PUBLIC_APPWRITE_PLATFORM=com.joedev.file
EXPO_PUBLIC_APPWRITE_DATABASE_ID=6a9379ae002decbdb46a
EXPO_PUBLIC_APPWRITE_BOOKS_COLLECTION_ID=books
